<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/element-ui/2.15.9/theme-chalk/index.css">
    <style>
        .el-page-header__content {
            color: white;
            font-weight: bold;
        }
    </style>
</head>
<body>
<div id="app">
    <el-container>
        <el-header style="background-color: #0095d7">
            <h1 style="color: white;font-size: 22px">
                CoolShark商城后台管理系统
                <span style="float:right;font-size: 15px">欢迎xxx回来!<a href="">退出登录</a></span>
            </h1>
        </el-header>
        <el-container>
            <el-aside width="200px" style="overflow: hidden">
                <!--导航菜单开始-->
                <el-menu @select="handleSelect">
                    <!--添加子菜单-->
                    <el-submenu index="1">
                        <!--添加子菜单标题-->
                        <template slot="title">
                            <i class="el-icon-s-flag"></i>
                            <span>分类管理</span>
                        </template>
                        <!--添加菜单项-->
                        <el-menu-item index="1-1">分类列表</el-menu-item>
                        <el-menu-item index="1-2">添加分类</el-menu-item>
                    </el-submenu>

                    <el-submenu index="2">
                        <!--添加子菜单标题-->
                        <template slot="title">
                            <i class="el-icon-picture"></i>
                            <span>轮播图管理</span>
                        </template>
                        <!--添加菜单项-->
                        <el-menu-item index="2-1">轮播图列表</el-menu-item>
                        <el-menu-item index="2-2">添加轮播图</el-menu-item>
                    </el-submenu>
                    <el-submenu index="3">
                        <!--添加子菜单标题-->
                        <template slot="title">
                            <i class="el-icon-shopping-cart-2"></i>
                            <span>商品管理</span>
                        </template>
                        <!--添加菜单项-->
                        <el-menu-item index="3-1">商品列表</el-menu-item>
                        <el-menu-item index="3-2">添加商品</el-menu-item>
                    </el-submenu>

                </el-menu>
                <!--导航菜单结束-->
            </el-aside>
            <el-main>
                <!--分类表格开始-->
                <el-table v-if="currentIndex=='1-1'" :data="categoryArr" style="width: 100%">
                    <el-table-column type="index" label="编号" width="180">
                    </el-table-column>
                    <el-table-column prop="name" label="分类名称" width="180">
                    </el-table-column>
                    <el-table-column label="操作">
                        <template slot-scope="scope">
                            <el-button size="mini" @click="updateCategory(scope.row)"
                                       type="success">修改
                            </el-button>
                            <el-popconfirm
                                    title="确认删除此商品吗?"
                                    @confirm="categoryDelete(scope.$index, scope.row)">
                                <el-button
                                        slot="reference"
                                        size="mini"
                                        type="danger">删除
                                </el-button>
                            </el-popconfirm>

                        </template>
                    </el-table-column>
                </el-table>
                <!--分类表格结束-->
                <!--轮播图表格开始-->
                <el-table v-if="currentIndex=='2-1'" :data="bannerArr" style="width: 100%">
                    <el-table-column type="index" label="编号" width="180">
                    </el-table-column>
                    <el-table-column label="轮播图" width="180">
                        <!--自定义内容必须写在template里面-->
                        <template slot-scope="scope">
                            <!--scope.row得到当前行对应的数组里面的对象-->
                            <img :src="scope.row.url" width="100%" alt="">
                        </template>
                    </el-table-column>
                    <el-table-column label="操作">
                        <template slot-scope="scope">
                            <el-popconfirm
                                    title="确认删除此轮播图吗?"
                                    @confirm="bannerDelete(scope.$index, scope.row)">
                                <el-button
                                        slot="reference"
                                        size="mini"
                                        type="danger">删除
                                </el-button>
                            </el-popconfirm>
                        </template>
                    </el-table-column>
                </el-table>
                <!--轮播图表格结束-->
                <!--                插入轮播图-->
                <div v-if="currentIndex=='2-2'">
                    <el-page-header style="background-color: green;color: white;line-height: 60px"
                                    @back="goBack('2-1')"
                                    content="添加轮播图"></el-page-header>
                    <!--limit控制图片数量  @back="goBack"-->
                    <el-upload
                            name="pic"
                            limit="1"
                            action="/upload"
                            list-type="picture-card"
                            :on-success="handleSuccess"
                            :on-preview="handlePictureCardPreview"
                            :on-remove="handleRemove">
                        <i class="el-icon-plus"></i>
                    </el-upload>
                    <el-dialog :visible.sync="dialogVisible">
                        <img width="100%" :src="dialogImageUrl" alt="">
                    </el-dialog>
                    <el-button type="primary" @click="send()">发布轮播图</el-button>
                </div>

                <!--                插入轮播图结束-->
                <!--商品表格开始-->
                <el-table v-if="currentIndex=='3-1'" :data="productArr" style="width: 100%">
                    <el-table-column type="index" label="编号" width="50">
                    </el-table-column>
                    <el-table-column prop="title" label="商品标题" width="200"></el-table-column>
                    <el-table-column prop="price" label="价格" width="80"></el-table-column>
                    <el-table-column prop="oldPrice" label="原价" width="80"></el-table-column>
                    <el-table-column prop="saleCount" label="销量" width="80"></el-table-column>
                    <el-table-column label="商品图片" width="100">
                        <!--自定义内容必须写在template里面-->
                        <template slot-scope="scope">
                            <!--scope.row得到当前行对应的数组里面的对象-->
                            <img :src="scope.row.url" width="100%" alt="">
                        </template>
                    </el-table-column>
                    <el-table-column label="操作">
                        <template slot-scope="scope">
                            <el-button
                                    size="mini"
                                    type="danger"
                                    @click="productDelete(scope.$index, scope.row)">删除
                            </el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <!--商品表格结束-->
                <div v-if="currentIndex=='3-2'">
                    <el-page-header style="background-color: green;color: white;line-height: 60px" content="添加商品"
                                    @back="goBack('3-1')"></el-page-header>
                    <el-card style="width: 600px;height: 700px;margin: 0 auto">
                        <el-form label-width="80px">
                            <el-form-item label="商品标题">
                                <el-input v-model="product.title" type="text"></el-input>
                            </el-form-item>
                            <el-form-item label="商品价格">
                                <el-input v-model="product.price" type="text"></el-input>
                            </el-form-item>
                            <el-form-item label="商品原价">
                                <el-input v-model="product.oldPrice" type="text"></el-input>
                            </el-form-item>
                            <el-form-item label="销量">
                                <el-input v-model="product.saleCount" type="text"></el-input>
                            </el-form-item>
                            <el-form-item label="库存">
                                <el-input v-model="product.num" type="text"></el-input>
                            </el-form-item>
                            <el-form-item label="商品分类">
                                <el-select v-model="product.categoryId">
                                    <!--遍历所有分类信息并展示在下拉选中-->
                                    <el-option v-for="c in categoryArr"
                                               :label="c.name" :value="c.id"></el-option>
                                </el-select>

                            </el-form-item>
                            <el-form-item label="商品图片">
                                <!--limit控制图片数量-->
                                <el-upload
                                        name="pic"
                                        limit="1"
                                        action="/upload"
                                        list-type="picture-card"
                                        :on-success="handleSuccess"
                                        :on-preview="handlePictureCardPreview"
                                        :on-remove="handleRemove">
                                    <i class="el-icon-plus"></i>
                                </el-upload>
                                <el-dialog :visible.sync="dialogVisible">
                                    <img width="100%" :src="dialogImageUrl" alt="">
                                </el-dialog>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="primary" @click="send1()">发布商品</el-button>
                            </el-form-item>
                        </el-form>
                    </el-card>

                </div>

            </el-main>
        </el-container>
    </el-container>
</div>
</body>
<!-- import Vue before Element -->
<script src="https://cdn.staticfile.org/vue/2.6.14/vue.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- import JavaScript -->
<script src="https://cdn.staticfile.org/element-ui/2.15.9/index.min.js"></script>
<script>
    let v = new Vue({
        el: '#app',
        data: function () {
            return {
                product: {
                    title: "", price: "", oldPrice: "",
                    saleCount: "", num: "", categoryId: "", url: ""
                },
                dialogImageUrl: '',
                dialogVisible: false,
                url: "",
                currentIndex: "1-1",
                categoryArr: [],
                bannerArr: [],
                productArr: []
            }
        },
        //自动加载页面内容
        created: function () {
            axios.get("/category/select").then(function (res) {
                v.categoryArr = res.data;
            })
            axios.get("/banner/select").then(function (res) {
                v.bannerArr = res.data;
            })
            axios.get("/product/select").then(function (res) {
                v.productArr = res.data;
            })
        },
        methods: {
            //更新分类名称
            updateCategory(category) {
                //获取用户输入的新的分类名称
                let name = prompt("请输入新的分类名称:")
                if (name != null && name.trim() != "") {
                    category.name = name;
                }
                axios.post("/category/update", category).then(function (res) {
                    v.$message.success(res.data.status);
                    // v.categoryArr = res.data;
                })
            },
            //删除分类
            categoryDelete(i, category) {
                axios.get("/category/delete?id=" + category.id).then(function (res) {
                    //删除数组当中的数据
                    v.categoryArr.splice(i, 1);
                    if (res.data.code == 200) {
                        v.$message(res.data.status);
                    }
                })
            },
            //删除轮播图
            bannerDelete(i, banner) {
                axios.get("/banner/delete?id=" + banner.id).then(function (res) {
                    //删除数组当中的数据
                    v.bannerArr.splice(i, 1);
                    if (res.data.code == 200) {
                        v.$message(res.data.status);
                    }
                })
            },
            //删除产品
            productDelete(i, product) {
                axios.get("/product/delete?id=" + product.id).then(function (res) {
                    //删除数组当中的数据
                    v.productArr.splice(i, 1);
                    if (res.data.code == 200) {
                        v.$message(res.data.status);
                    }
                })
            },
            handleSelect(key, keyPath) {
                console.log(key);
                if (key == '1-2') {
                    let name = prompt("请输入分类名称");
                    if (name != null && name.trim() != "") {
                        //发出添加分类的请求
                        axios.get("/category/insert?name=" + name).then(function (response) {
                            v.categoryArr = response.data;
                        })
                    }
                    v.$message("添加分类");
                } else if (key == '2-2') {
                    v.currentIndex = key;
                    v.$message("添加轮播图");
                } else if (key == '3-2') {
                    v.currentIndex = key;
                    v.$message("添加商品");
                } else {
                    v.currentIndex = key;
                }
            },
            handleSuccess(response, file, fileList) {
                v.url = response.status;
                v.product.url = v.url;
                console.log(response.status);
            },
            handleRemove(file, fileList) {
                console.log(file, fileList);
                axios.get("/remove?url=" + file.response.status).then(function () {
                    console.log(file.response.status);
                    console.log("--------");
                    console.log(file.response.status);

                    v.$message.success("删除完成!");
                })
            },
            handlePictureCardPreview(file) {
                this.dialogImageUrl = file.url;
                this.dialogVisible = true;
            },
            send() {
                if (v.url == "") {
                    v.$message.error("请选择上传的图片!");
                    return;
                }
                //发出添加轮播图的请求
                axios.get("/banner/insert?url=" + v.url).then(function (res) {
                    //返回后台管理页面
                    // location.href = "/admin.html";
                    if (res.data.code == 200) {
                        v.$message.success(res.data.status);
                        v.currentIndex = '2-1';
                    }
                })
            },
            send1() {
                if (v.product.url == "") {
                    v.$message.error("请选择上传的图片!");
                    return;
                }
                //发出添加产品图的请求
                axios.post("/product/insert", v.product).then(function (res) {
                    //返回后台管理页面
                    // location.href = "/admin.html";
                    if (res.data.code == 200) {
                        v.$message.success(res.data.status);
                        v.currentIndex = '3-1';
                    }
                })
            },
            //返回上一页面---go-
            goBack(go) {
                // history.back();
                v.currentIndex = go;
            },

        }
    })
</script>
</html>