<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>
<body>
<div>
    <input type="text" name="title" v-model="product.title" placeholder="商品名">
    <input type="text" name="price" v-model="product.price" placeholder="商品价格">
    <input type="text" name="num" v-model="product.num" placeholder="商品数量">
    <input type="button" @click="insert()" value="插入商品">
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
<script>
    let v = new Vue({
        el: "body>div",
        data: {
            product: {
                title: "",
                price: "",
                num: ""
            }
        },
        methods: {
            insert() {
                axios.post("/insert", v.product).then(function (response) {
                    if (response.data == 1) {
                        alert("插入成功");
                    }
                })
            }
        }
    });
</script>
</body>
</html>